.App {
  text-align: center;
}

.List-page {
  text-align: left;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.List-page h1 {
  color: navy;
  margin-bottom: 10px;
}
